* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

ol,ul{
    list-style: none;

}
body{
    padding-top: 110px;
    background-color:#aeaeae;
    
}
html{
    font-family: sans-serif;
   
}

.container_fluid {
    background-color:bisque;
    padding: 10px 10px;
    margin: 30px ;
    border: 5px solid azure;
    border-radius: 50px;
    
}
.container {
    width: 100%;
    margin: auto;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    padding: 0 10px;
}


.home img{
    width: 100%;
    margin: 10px 0;
    border-radius: 10%;
    box-shadow: 0 0 10px red;
}
.home-1 img:hover {
    transform: scale(1.5);
    margin: 90px -90px -90px 90px;
    transition: 0.5s;
}
.home-2 img:hover {

    transform: scale(1.5);
    margin: 90px 90px -90px -90px;
    transition: 0.5s;
}

.home-3 img:hover {

    transform: scale(1.5);
    margin: -90px -90px 90px 90px;
    transition: 0.5s;
}

.home-4 img:hover {
    transform: scale(1.5);
    margin: -90px 90px 90px -90px;
    transition: 0.5s;
}

.div_box{
    display: flex;
}
header {
    width: 100%;
    background-color: #222222 ;
    border : 10px solid black;
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 3;
}

.box{
    margin: 5px 10px 5px;
    display: flex;
    border: 2px solid 	#cc1100;
    background-color: #111111;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}

.box a{
    color: #cc1100;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
    justify-content: center;
    
}
.box:hover {
    border-color: #61ACC0;
    transition: 1s ;
    animation: animate_button 0.25s linear ;
    
}
.box a:hover {
    color: #61ACC0;
    transition: 1s ;
       
}
@keyframes animate_button {
    0%{
        transform: rotateZ(-1deg);
    }
    50%{
        transform: rotateZ(1deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
    
}
