* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

ol,ul{
    list-style: none;

}
h4{
    color:whitesmoke;
}
.info_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    
    background-image: url('../imgs/background_img.jpg');
    background-position: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
body img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}
.container_login {
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 550px;
    border: 5px solid whitesmoke;
    padding: 20px 0;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
}

.container_login .input_box{
    height: 60px;
    padding:2px;
    margin:40px 20px;

}
.input_box input{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border:none;
    outline: none;
    padding:5px 20px;
    font-size: large;

    
}

.input_box label{
    font-size: 25px;
    color: whitesmoke
  
}
.input_box .password_box{
    align-items: center;
    display: flex;
    width:100%;
    height:100%;
}
.slider{
    margin:0 3px;
    width:90px;
    height:70%;
    background-color: rgba(20,20,20,0.5);
    border-radius:50px;
    border: 2px solid yellowgreen;
    padding:5px;
    cursor: pointer;
    box-shadow: 0 0 1px white;
}
.ball{
    width:25px;
    height:100%;
    background-color: yellowgreen;
    border-radius: 50px;
}

.form_title{
    font-size: 50px;
    margin-bottom: 20px;
    color: whitesmoke;
    justify-content: center;
    display: flex;

}

.container_login .button{
    justify-content: center;
    display: flex;
}

.container_login .button input{
    box-shadow: 0 0 5px white;
    border:2px solid #202020;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400px;
    margin: 20px 0;  
    background-color: whitesmoke;
    font-size: large;
       
}

.container_login .button input:hover{
    background-color: azure ;
    
}

.container_login .button input:active{
    transform: scale(0.9);
    
}

