<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Pagina Principala</title>
        <link href="{{url_for('static', filename = 'CSS/style_home.css')}}" rel="stylesheet">
        <link href="../static/CSS/style_home.css" rel="stylesheet">
    </head>

    <body class="noi">
        
        <nav>
            
            <div class="box">
                <a href="home.html">HOME </a>
            </div>
            <div class="box">
                <a href="index.html">FORMULAR </a>
            </div>
            <div class="box">
                <a href="">STATISTICI </a>
            </div>
            
        </nav>
        <img src="..\static\imgs\OeNIim.png" alt="#" >
        
        
        
        



    </body>
</html>