<!DOCTYPE html>

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Proiect Final</title>
        
        <link href="{{url_for('static', filename = 'CSS/main_page_stuff/style_main_page.css')}}" rel="stylesheet"> 
     
    </head>

    <body >
        <header>
            <div class="container">
                <div class="row">
                    <div class="col div_box">
                        
                        <div class="box">
                            <a href="#top">HOME </a>
                        </div>
                        <div class="box">
                            <a href="#formular">FORMULAR </a>
                        </div>
                        <div class="box">
                            <a href="#statistici">STATISTICI </a>
                        </div>
                        <div class="user_box" id = "user_box">
                            
                            <div class="log_out_button" id="log_out_button">
                                <a href="/">LOG OUT</a> 
                            </div>
                            
                            <div class="user_icon" id = "user_icon">

                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </header>
        
        <div class="container_fluid">
            <div class="container">
                <div class="row">
                    <div class="col color_except_text">
                        
                        <h1 class="color">Aceasta pagina a fost creata folosind HTML,CSS,JS.</h1>
                        <h2 class="color">Aici am pus cateva imagini cu codul de python al aplicatiei. </h2>
                        
                    </div>
                    <div class="col">
                        <div class="row home">
                            <div class="col home-1">
                                <img src="{{url_for('static', filename = 'imgs/prj1.png')}}" alt="">
                                
                            </div>
                            <div class="col home-2">
                                <img src="{{url_for('static', filename = 'imgs/prj2.png')}}" alt="">
                                
                            </div>
                            <div class="row">
                                <div class="col home-3">
                                    <img src="{{url_for('static', filename = 'imgs/prj3.png')}}" alt="">
                                    
                                </div>
                                <div class="col home-4">
                                    <img src="{{url_for('static', filename = 'imgs/prj4.png')}}" alt="">
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container_fluid" id="formular">
            <div class="row">
                
                <div class="container_form">
                    <form method ="post" class="form" enctype="multipart/form-data"> 
                        <div class="title">Adaugare Persoana</div>
                        <div class="input_box">
                            <label>Nume</label>
                            <input name ="Nume" type="text" placeholder="Nume" > 
                        </div>
                        <div class="input_box">
                            <label>Prenume</label>
                            <input name ="Prenume" type="text" placeholder="Prenume" > 
                        </div>
                        <div class="input_box">
                            <label>Companie</label>
                            <input name ="Companie" type="text" placeholder="Companie" > 
                        </div>
                        <div class="input_box">
                            <label>Id manager</label>
                            <input name ="Id_Manager" type="number" placeholder="Id manager " min="0"> 
                        </div>
                        <div class="input_box">
                            <label>Email</label>
                            <input name ="Email" type="email" placeholder="angajat@gmail.com" > 
                        </div>
                        <div class="info_box" id="info_box">
                            <h4>{{my_message}}</h4>
                        </div>
                        <div class="file_select">
                            <input type="file" name="Fisier" id="uploadbtn" >
                            <label class="file_button" for="uploadbtn">Incarca un fisier</label>
                            
                        </div>
                        <div class="button">
                            <input type="submit" value="Trimite"> 
                        </div>
                    </form>
                </div>
                
                <div class="row">
                    <h1 class="color">Aici avem formularul pe care utiliztorul il va completa ca mai apoi<br>
                        datele sa fie trimise catre API si mai apoi sa fie stocate in baza de date.<br>
                        Putem de asemenea sa incarcam un fisier de tip json care sa contina<br>
                        una sau mai multe intrari pe poarta 3.
                    </h1>
                </div>
                
            </div>        
        </div>

        <div class="container_fluid" id="statistici">
            <div class="container">
                <div class="col color">
                    <div><h2 c>Aici avem statisticile legate de angajati</h2>  </div>
                </div>
                <div class="col color">
                    <h2>Top 3 cele mai comune nume :</h2> 
                    {% for nume in stats['Nume']%}
                        <h2>{{ nume }}</h2> 
                    {% endfor %}
                </div>
                <div class="col color">
                    <h2>Top 3 cele mai comune prenume :</h2> 
                    {% for prenume in stats['Prenume']%}
                        <h2>{{ prenume }}</h2> 
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="../static/JS/main_page.js" rel="script"></script>
    </body>
</html>